@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Styles */
body{
  margin: 0;
  color: #333;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
 h1 {
  color: #264D73;
  font-size: 2.5rem;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
}

h3 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: #007DC5;
  cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
input[text] {
  color: #333;
}

input:focus {
  box-shadow: none;
  outline: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
/* input[type=email]:not(.browser-default):focus:not([readonly]), */
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
} 
.mat-input-element{
  caret-color: #007DC5;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #007DC5;
}
.page-wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-left: 85px;
  box-sizing: border-box;
}
.page-wrapper-inner{
  padding: 40px 20px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: transparent;
  padding: 0 !important;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #007DC5;
  color: #fff;
  font-weight: bold;
}
.mat-flat-button.mat-primary:hover, .mat-raised-button.mat-primary:hover, .mat-fab.mat-primary:hover, .mat-mini-fab.mat-primary:hover,
.mat-flat-button.mat-primary:focus, .mat-raised-button.mat-primary:focus, .mat-fab.mat-primary:focus, .mat-mini-fab.mat-primary:focus,
{
  background-color: #05527e;
  color: white;
}

.mat-flat-button.mat-primary:disabled, .mat-raised-button.mat-primary:disabled, .mat-fab.mat-primary:disabled, .mat-mini-fab.mat-primary:disabled
 {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
}
.table-wrapper {
  margin-top: 30px;
}
table {
  width: 100%;
  border: 1px solid #e0e0e0;
  display: table;
  width: 100% !important;
}
.mat-header-row,tbody,tfoot {
  border-color: #e0e0e0;
  
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 10px !important;
}
.mat-header-row{
  background-color: #007DC5;
  
}
.mat-header-cell{
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
  background-color: #007DC5;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: #007DC5;
}
.mat-form-field-infix{
  width: auto !important;
}

/* Header css */
.header-wrapper{
  padding: 20px;
}
.logo-tejait{
  display: block;
  max-width: 160px;
}
.sidenav {
   background: #007dc5;
   color: white;
   height: 100%;
   position: fixed !important; 
   z-index: 1;
   top: 0;
   left: 0;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s; 
}
.sidenav a{
  color: #000;
  padding: 20px 10px;
  display: block;
}
.sidenav li.active{
    background-color: #fff;
}
mat-drawer-content{
  margin-left: 0 !important;
}
.form-label{
  min-width: 100px;
  display: inline-block;
}
.mat-form-field{
  display: block !important;
}
.add-employee-popup{
  max-height: 90vh;
}

.btn-submit{
  text-transform: uppercase;
}
.btn-cancel{
  margin-left: 10px !important;
}
label{
  font-weight: bold;
  margin-bottom: 8px;
}
.mat-tab-label{
  font-weight: 600 !important;
  color: #000 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #007dc5;
}
.tabbing-space{
  padding: 30px;
}
.readonly-label{
  display: block;
}
.tabbing-element{
  margin: 25px 0;
}
.edit-button{
  text-align: right;
  margin-top: 20px;
}
.mat-drawer-container{
  background-color: transparent;
}
.mat-drawer.mat-drawer-side{
  border: 0 none;
}