
.mat-column-operation{
  width: 26%;
}
table .mat-raised-button {
  line-height: 20px;
  width: 5px;
  font-size: 12px;
  padding: 2px 2px;          /* Adjust the padding for better spacing around text */
  margin: 0 2px;              /* Add a slight margin between side-by-side buttons */
  border-radius: 2px;         /* Slightly rounded corners for a modern look */
  text-transform: uppercase;  /* Optional: Make the button text uppercase */
  font-weight: 600;           /* Make the font slightly bolder */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth transition for hover effects */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);   /* Add a subtle shadow for depth */
}

/* Adding a slight transform effect on hover can make the button feel more interactive */
table .mat-raised-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* If the button is active (being clicked), push it down slightly */
table .mat-raised-button:active {
  transform: translateY(1px);
}

.link-taskboard{
	margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.mat-column-operation .mat-raised-button{
	margin: 5px;
  min-width: 131px;
}
.btn-add-employee{
  text-transform: uppercase;
}
.table-wrapper th{
	position: relative;
}
.uparrow, .downarrow{
	width: 0;
    height: 0;
    border-left: 4px solid #007DC5;
    border-right: 4px solid #007DC5;
    position: absolute;
    right: 10PX;
}
.uparrow{
	border-bottom: 4px solid #fff;
    top: 40%;
}
.downarrow{
	border-top: 4px solid #fff;
	bottom: 40%;
}
.thead-title{
	display: block;
	padding-right: 10px;
}

.btn-update, .btn-delete {
  display: inline-block; /* or 'inline' */
}
.some-flex-container {
  display: flex;
  flex-direction: row; /* This is the default and may not be necessary */
}

