<div class="taskboard-wrapper" *ngIf="!showOverviewData">
  <div class="loan-data-section">
    <div class="loan-header clearfix">
    <button mat-raised-button color="primary" (click)="openDialog()" class="btn-apply">Apply Loan</button>
    
  </div>
    <table mat-table [dataSource]="loanTaskBoardData" class="mat-elevation-z8 table-wrapper tabbing-element">
       <ng-container matColumnDef="appId">
         <th mat-header-cell *matHeaderCellDef>App_ID</th>
         <td mat-cell *matCellDef="let element" (click)="showOverview(element.appId)"><a href="javascript:void(0);">{{element.appId}}</a></td>
       </ng-container>
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Customer_name </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}}</td>
        </ng-container>
       <ng-container matColumnDef="mailId">
         <th mat-header-cell *matHeaderCellDef> Mail_id </th>
         <td mat-cell *matCellDef="let element"> {{element.mailId}}</td>
       </ng-container>
       <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef> Mobile </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile}}</td>
        </ng-container>
   
       <ng-container matColumnDef="city">
         <th mat-header-cell *matHeaderCellDef> City </th>
         <td mat-cell *matCellDef="let element"> {{element.city}}</td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
    </table>
  </div>
</div>
<overview *ngIf="showOverviewData"></overview>