.overview-table {
    width: 100%;
    border-collapse: collapse;
}

.overview-table td {
    border: 1px solid #007DC5;
    padding: 5px 5px; /* Adjusted padding here for less space */
    width: 50%; /* If this is too wide, reduce it */
    vertical-align: top;
}

.readonly-label {
    font-weight: bold;
    background-color: #e0f1ffd3;
    padding: 5px 5px; /* Reduced padding here too for labels */
}

/* Reduce space between rows */
.overview-table tr {
    height: max-content;
	padding: 10px 10px;
}

/* Additional spacing tweaks */
.overview-table tr:not(:last-child) td {
    padding-bottom: 5px; /* Reduced spacing between rows */
}
.overview-section {
    display: grid;
    justify-content: flex-start;
}
.form-field {
    padding: 5px; /* Adjust this value as needed */
}

.overview-table td:nth-child(1) { /* targets the first column */
    width: 100px; /* or any specific width */
}
.overview-table td {
    padding: 5px;      /* Adjust padding to reduce space inside each cell */
    width: auto;       /* Sets width based on content */
    white-space: nowrap; /* Prevents content from wrapping to the next line */
}

.overview-table tr {
    height: auto;      /* Sets row height based on content */
    padding: 5px 0;    /* Top and bottom padding for the row */
	
}
.overview-table {
    border-collapse: collapse;
}
.overview-table td, .overview-table tr {
    margin: 0; /* Removes margin */
    padding: 5px; /* Adjust as needed */
}

.tabbing-group .mat-tab-label {
    background-color: #f5f5f5;  /* light gray background */
    color: #007DC5;  /* default dark text color */
    font-size: 16px;  /* font size */
    transition: background-color 0.3s;  /* smooth transition for hover effect */
    border-radius: 4px 4px 0 0;  /* round the top corners */
}

.tabbing-group .mat-tab-label:hover {
    background-color: #e0e0e0;  /* slightly darker gray on hover */
    color: #007DC5 !important;
}

.tabbing-group .mat-tab-label-active {
    background-color: #007DC5;  /* primary color for active tab */
    color: white;  /* white text color for active tab */
}
.tabbing-group .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #007DC5;  /* primary color for ink bar */
    color: #007DC5 !important;
}

.tabbing-group .mat-tab-header {
    border-bottom: 1px solid #e0e0e0;  /* a subtle line below the tab headers */
    color: #007DC5 !important;
}
.tabbing-group .mat-tab-body-content {
    padding: 16px;  /* some spacing inside tab content */
    background-color: #fff;  /* white background for tab content */
    color: #007DC5 !important;
}


