/* Style for the edit button */
.edit-button {
    cursor: pointer;
}

/* Style for the form container */
.form-container {
    padding: 20px;
    background: linear-gradient(to bottom right, #e0f1ff, #f7faff); /* Gradient using variations of #007DC5 */
    border: 2px solid #007DC5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the tabbing elements */
.tabbing-element {
    margin-bottom: 15px;
    display: inline-block;
    width: 48%;
}

/* Style for mat-form-field labels */
.mat-form-field-label {
    font-weight: bold;
}

/* Style for mat-select */
.mat-select {
    width: 100%;
    border: 1px solid #007DC5;
}

/* Style for the submit and cancel buttons */
.tab-footer {
    margin-top: 20px;
    text-align: right;
}

.btn-submit {
    background-color: #007DC5;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #005A8B;
}

.btn-cancel {
    background-color: #e0f1ff; /* Lighter version of #007DC5 */
    color: #000;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background-color: #b8daff; /* Another lighter shade of #007DC5 */
}

/* Hover effect for the edit button */
.edit-button:hover svg {
    fill: #005A8B;
}

/* Apply CSS to make the edit button more clickable */
.edit-button svg {
    transition: fill 0.2s;
}

/* Style for the container div */
.container {
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid #007DC5;
    padding: 20px;
    border-radius: 8px;
}
