/* Main styles */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Edit Button Styles */
.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #007DC5; /* Updated color code */
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* File Upload Section Styles */
input[type="file"] {
    padding: 5px;
    border: 2px solid #007DC5; /* Updated color code */
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}

/* Button Styles */
button {
    padding: 8px 12px;
    background-color: #007DC5; /* Updated color code */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3; /* Slightly darker shade for hover effect */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 2px solid #007DC5; /* Updated color code */
    border-radius: 4px; /* Rounded corners for cells */
}

th {
    background-color: #007DC5; /* Updated color code */
    color: #ffffff;
    text-align: left;
}

input {
    width: 95%;
    padding: 5px;
    border: 1px solid #007DC5; /* Updated color code */
    border-radius: 4px;
    box-sizing: border-box; /* Adjust width including padding and border */
}
div > p {
    color: #007DC5;
}